.widget__body.uptimerobot {
    padding: 2vmin;
}

.monitor-list {
    padding: 0;
    list-style-type: none;
}

.monitor > .fa {
    padding-right: 5px;
}

.monitor > .fa-arrow-up {
    color: green;
}

.monitor > .fa-arrow-down {
    color: red;
}